{% extends 'base.html' %}

{% block title %}Card {% endblock %}


{% block container %}
<div class="container d-flex">
    <div class="block m">
        <div class="bag " style=" margin: 5px 0 5px 0; font-size:2rem ; ">
            MY BAG
        </div>
        {% for i in products_card %}
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{i.image.url}}" class="card-img-top " style="background-size:cover" alt="...">
                </div>
                <div class="col-md-8 d-flex">
                    <div class="card-body">
                        <a href="" class="mb-5">{{i.price}} Сом</a>
                        <h5 class="card-title  mb-3">
                            {{i.title}}
                        </h5>
                        <p class="card-text ">{{i.description}}</p>
                        <form action="card" method="POST">
                            <input type="number" name="col" id="">
                        </form>
                        <br>
                        <a href="" class="btn btn-primary mb-3">
                            <i class="fa-regular fa-heart"></i>
                            Save for later
                        </a>
                    </div>
                    <div class="p-3">
                        <a href="{% url 'removecard' pk=i.id %}">
                            <i class="fa-sharp fa-solid fa-xmark"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="block">
        <div class="bag " style="width: 300px ; margin: 5px 0 5px 5px; font-size:2rem ;  ">
            TOTAL
        </div>
        <div class="card">

            <div class="sub d-flex " style="justify-content:space-between; margin: 0 10px 0 10px ;">
                <p>Sub-total</p>
                {{all_products_sum}}
            </div>
            <div class="sub d-flex " style="justify-content:space-between; margin: 0 10px 0 10px ">
                <p>Count</p>

                {{count_of_product}}
            </div>

            <button type="button" class="btn btn-secondary w-100% " style="margin: 0 10px 0 10px ">CHECKOUT</button>

        </div>


    </div>

</div>
{% endblock %}